.hero {
  display: flex;
  vertical-align: middle;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 40px;
}

@media screen and (max-width: 768px) {
  .hero {
    height: fit-content;
    margin-top: 100px;
  }
}

.hero p {
  color: white;
  margin: 0;
  font-size: 1rem;
}

.button-group {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

@media screen and (max-width: 768px) {
  .button-group {
    flex-direction: column;
    gap: 10px;
  }
}

.button.gameHostingButton {
  background-color: #2881a7;
}

.button.serverHostingButton {
  background-color: #7830af;
}

.button.discordButton {
  background-color: #7289da;
}

.button.reviewsButton {
  background-color: #04da8d;
}

.button.developmentServicesButton {
  background-color: #17a2b8;
}

.string-container {
  width: 100%;
  display: inline;
  align-items: center;
  align-content: center;
}