.section {
    background-color: rgba(79, 79, 79, 0.275);
    padding: 20px 50px;
    border-radius: 10px;
    gap: 14px;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.category {
    background-color: rgba(79, 79, 79, 0.275);
    padding: 15px 25px;
    margin-bottom: 15px;
    border-radius: 8px;
}

.plans {
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-radius: 8px;
    margin-top: 15px;
    width: fill;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: rgba(78, 78, 78, 0.704);
    padding: 15px 25px;
    max-width: max-content;
    width:100%;
    border-radius: 5px;
    box-shadow: 3px gray;
    height: max-content;
}

.name {
    font-size: 1.3rem;
}

.description {
    color: rgba(197, 197, 197, 0.734);
}

.specsbox {
    background-color: rgba(142, 142, 142, 0.208);
    padding: 5px 10px;
    border-radius: 5px;
}

.location {
    font-size: small;
}

.specs {
    font-size: smaller;
    text-align: left;
}

/*------------ More customizaion available below
.specs .ram {

}

.specs .vcores {

}

.specs .storage{

}

.specs .processor {

}

.specs .bandwidth {

}

.specs .ddos {

}

------*/

.price {
    background-color: var(--qwik-dark-red);
    transition: background-color 0.4s ease-in 0.1s ease-out;
    width: fit-content;
    padding: 4px 10px;
    margin: 5px auto;
    border-radius: 5px;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
}

.price:hover {
    background-color: var(--qwik-light-red);
}